.flex-w-dir {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

ion-grid {
  text-align: center;
}

ion-toolbar + ion-toolbar {
  @extend .flex;
}

ion-col {
  @extend .flex-w-dir;
  width: fit-content;
  height: fit-content;
}

ion-row {
  @extend .flex;
}

ion-label {
  font-weight: bold;
}

ion-button {
  height: 50px;
  width: 50px;
}

#value-row {
  padding: 0;
  margin: 0;

  ion-row {
    ion-col {
      @extend .flex;
      margin: 0;
      padding: 0;
    }
  }

  ion-button {
  }
}

#worth-number {
  color: rgb(226, 59, 59);
}

#score {
  width: 100%;
}

#cleanup {
  width: 100%;
}

#worth {
  font-size: 2.35rem;
}

#matches-won {
  font-size: 1.5rem;
}

.lg-text {
  font-size: 1.5rem;
}

.md-text {
  font-size: 1rem;
}
