.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

ion-grid {
  text-align: center;
}

ion-col {
  @extend .flex;
}

ion-row {
  height: 12%;
}

#cleanup {
  width: 100%;
}

#worth {
  font-size: 2.35rem;
}

#matches-won {
  font-size: 1.5rem;
}

.lg-text {
  font-size: 1.5rem;
}

.md-text {
  font-size: 1rem;
}

#worth-number {
  color: rgb(123, 59, 226);
}

#score {
  width: 100%;

}

ion-button {
  height: 50px;
  width: 50px;
}
