.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

ion-grid {
  text-align: center;
}

ion-col {
  @extend .flex;
}

ion-row {
  height: 12%;
}

#cleanup {
  width: 100%;
}
