<ion-header [translucent]="true">
  <ion-toolbar mode="ios">
    <ion-title>
      TEMPORIZADOR
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-label id="timer">00:00:00</ion-label>
    </ion-row>
    <ion-row>
      <div id="timerActive">
        <ion-button color="success">
          <ion-icon name="play" slot="start"></ion-icon>
          INICIAR
        </ion-button>
      </div>
      <div id="timerInactive">
        <ion-button color="warning">
          <ion-icon name="pause" slot="start"></ion-icon>
          PAUSAR
        </ion-button>
        <ion-button>
          <ion-icon name="stop" slot="start"></ion-icon>
          PARAR
        </ion-button>
      </div>
    </ion-row>
  </ion-grid>
</ion-content>
