<ion-header [translucent]="true">
  <ion-toolbar mode="ios">
    <ion-title>
      CARA <small>OU</small> COROA
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-thumbnail class="ion-text-nowrap" (click)="flipCoin()">
        <ion-title id="face">{{ face === 1 && 'CARA' || 'COROA'}}</ion-title>
        <img id="coin" src="../../assets/cara.png" alt="Coin">
        <ion-title id="press">Aperte e tente sua sorte!</ion-title>
      </ion-thumbnail>
    </ion-row>
  </ion-grid>
</ion-content>
