<ion-header [translucent]="true">
  <ion-toolbar mode="ios">
    <ion-title>
      CARA <small>OU</small> COROA
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container-coin">
    <img [@rotatedStated]="state" [src]="image" alt="Logo">
    <h1>{{ info }}</h1>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar color="dark" class="btn ion-activatable ripple-parent rectangle" (click)="jogarMoeda()">
    <ion-ripple-effect></ion-ripple-effect>
    <ion-title class="ion-text-center">Jogar a moeda!</ion-title>
  </ion-toolbar>
</ion-footer>
