.container-coin {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  flex-flow: column;
  text-align: center;
}

img {
  height: 50%;
  border-radius: 50%;
  box-shadow: 4px 4px 17px -4px rgba(48,48,48,0.46);
  -webkit-box-shadow: 4px 4px 17px -4px rgba(48,48,48,0.46);
  -moz-box-shadow: 4px 4px 17px -4px rgba(48,48,48,0.46);
}

.btn {
  cursor: pointer;
}
