ion-thumbnail {
  width: 100%;
  height: 50%;
  img {
    width: 100%;
    height: 100%;
  }
}

ion-card {
  width: 100%;
}

ion-button {
  width: 100%;
  height: 3rem;
}

#dice-input {
  width: 100%;
}

#centered-card {
  display: flex;
  align-items: center;
  justify-content: center;
}
