<ion-header [translucent]="true">
  <ion-toolbar mode="ios">
    <ion-title>
      PONTUAÇÃO
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-button id="red" color="primary" expand="block" (click)="increaseRedScore()">{{ redScore }}</ion-button>
    </ion-row>
    <ion-row>
      <ion-button id="blue" color="secondary" expand="block" (click)="increaseBlueScore()">{{ blueScore }}</ion-button>
    </ion-row>
  </ion-grid>
</ion-content>
